<mdb-sidenav #sidenav class="sidenav">
  <mdb-sidenav-content>
    <div style="height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mdb-sidenav-content>
  <mdb-sidenav-menu>
    <mdb-sidenav-item>
      <a class="sidenav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
    </mdb-sidenav-item>
    <mdb-sidenav-item>
      <a class="sidenav-link" routerLink="/uploads" routerLinkActive="active">
        <i class="fas fa-cloud-upload-alt fa-fw me-3"></i><span>Uploads</span>
      </a>
    </mdb-sidenav-item>
    <mdb-sidenav-item>
      <a class="sidenav-link" routerLink="/account" routerLinkActive="active">
        <i class="fas fa-user-circle fa-fw me-3"></i><span>Account</span>
      </a>
    </mdb-sidenav-item>
  </mdb-sidenav-menu>
</mdb-sidenav>
<router-outlet></router-outlet>